* {
  margin: 0 0 0 0;
}

input {
  border: none;
  margin: 0 0 0 0;
  outline: none;
}

select {
  border: none;
  margin: 0 0 0 0;
  outline: none;
  background-color: white;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: #807b7b;
}

.material-icons.md-light.md-inactive {
  color: rgba(48, 46, 46, 0.3);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sidenav-container {
  height: 90vh;
}

.sidenav-container .sidenav {
  min-width: 240px;
}

.sidenav-container .sidenav a {
  display: block;
  padding: 6px 24px;
  width: 100%;
  text-align: left;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 2vw;
  padding-left: 2vw;
  height: 10vh;
  background-color: white;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6vw;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo-container .menu-button {
  margin-right: 24px;
  min-width: 0;
  padding: 0;
  line-height: normal;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60vw;
}

.search-container input {
  height: 60%;
  width: 50%;
  border: 1px solid #b6b4b4;
  padding-left: 2vw;
  padding-top: 0;
  padding-bottom: 0;
  color: #504e4e;
}

.search-container .tag-input {
  width: 15vw;
  border-left: none;
}

.search-container select {
  height: 63%;
  width: 20%;
  border: 1px solid #b6b4b4;
  padding-left: 1vw;
  border-left: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("/images/down-arrow.svg");
  background-size: 7%;
  background-position: 90% center;
  background-repeat: no-repeat;
}

.right-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.767);
}

.right-buttons-container span {
  margin-left: 2px;
  margin-right: 2px;
}

.right-buttons-container i {
  margin-right: 1vw;
}

.right-buttons-container i:hover {
  color: black;
  cursor: pointer;
}

.right-buttons-container a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.right-buttons-container a:hover {
  color: black;
}
