* {
  margin: 0 0 0 0;
}

input {
  border: none;
  margin: 0 0 0 0;
  outline: none;
}

select {
  border: none;
  margin: 0 0 0 0;
  outline: none;
  background-color: white;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: #807b7b;
}

.material-icons.md-light.md-inactive {
  color: rgba(48, 46, 46, 0.3);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  width: 13vw;
  height: 7vh;
  border-radius: 5px;
  margin-right: 1vw;
  margin-left: 1vw;
  transition: background 1s;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -ms-transition: background 1s;
  -o-transition: background 1s;
  background-image: url("../../../../../assets/draw.jpg");
  background-size: cover;
}

.category:hover {
  background-color: rgba(224, 224, 224, 0.486);
  background-blend-mode: lighten;
}

.category .category-name {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
