<main>
    <div class="column">
      <div *ngIf="certificateData && user" class="main-info-container">
        <div class="request-container">
          <div class="row">
            <h2 class = "request-name">{{certificateData.name}}</h2>
            <span>{{certificateData.status}}</span>
          </div>

          <div class = "price-container">
            <span class="price">{{certificateData.price}}$ за проект</span>
          </div>
          <div>
            <span class = "request-date">{{certificateData.creationDate}}</span>
          </div>
          <div class="tags-container">
            <span class="task-tags">{{certificateData.tags}}</span>
          </div>
          <div class = "description-container">
            <span class="description">{{certificateData.description}}</span>
          </div>
        </div>
        <div *ngIf="isButtonVisible && storeUser.id !== certificateData.creatorId" class = "button-approve-container">
          <input class="button-approve" (click)="approve()" type="button" value="Откликнуться" >
        </div>
        <div *ngIf="!isButtonVisible && storeUser.id !== certificateData.creatorId" class = "button-approve-container">
          <input class="button-approve" (click)="cancel(storeUser.id)" type="button" value="Отменить заявку" >
        </div>
        <div *ngIf="certificateData.status === inProgress" class = "button-approve-container">
          <div class="user-card-container">
            <div class="row"><a href="#" class="avatar-block-user">
              <img src="../../../../../assets/avatar.png" alt="">
            </a>
              <div class="full-name">
                <a href="#">{{certificateData.developer.firstName}} {{certificateData.developer.lastName}}</a>
              </div>
            </div>
            <div>
              <div *ngIf="certificateData.developer.skills.length !== 0" class="tags-container">
                <span *ngFor="let tag of certificateData.developer.skills" class="task-tags">{{tag}}</span>
              </div>
            </div>
            <div class="row">
              <input *ngIf="certificateData.creatorId === storeUser.id" class="button-ok"  type="button" value="Завершить заказ" >
              <input *ngIf="certificateData.creatorId === storeUser.id" class="button-cancel" (click)="cancelProcessing()" type="button" value="Отклонить выполнение" >
            </div>

          </div>
        </div>
      </div>
      <div *ngIf="certificateData?.desiredDevelopers.length !== 0">
        <span class="ready">Готовы взяться</span>
        <div class="users-container">
          <div *ngFor="let user of certificateData?.desiredDevelopers" class="user-card">
            <div class="user-card-container">
              <div class="row"><a href="#" class="avatar-block-user">
                <img src="../../../../../assets/avatar.png" alt="">
              </a>
                <div class="full-name">
                  <a href="#">{{user.firstName}} {{user.lastName}}</a>
                </div>
              </div>
              <div>
                <div *ngIf="user.skills.length !== 0" class="tags-container">
                  <span *ngFor="let tag of user.skills" class="task-tags">{{tag}}</span>
                </div>
              </div>
              <div class="row">
                <input *ngIf="certificateData.creatorId === storeUser.id" class="button-ok"  (click)="approveUser(user.id)" type="button" value="Принять" >
                <input *ngIf="certificateData.creatorId === storeUser.id" class="button-cancel" (click)="cancel(user.id)" type="button" value="Отклонить" >
              </div>

            </div>
          </div>
      </div>
      </div>
    </div>


    <aside class="second-column">
      <div class = "profile-block">
        <a href="#" class="avatar-block">
          <img src="../../../../../assets/avatar.png" alt="">
        </a>
        <div class="full-name">
          <a href="#">{{user?.firstName}} {{user?.lastName}}</a>
        </div>
        <div class="role-container">
          <div class="role">
            Заказчик
          </div>
        </div>
      </div>
      <div class="profile-statistic">
        <div class="title">Статистика заказчика</div>
        <div class="row">
          <div>Всего заказов</div>
          <div>1</div>
        </div>
        <div class="row">
          <div>Завершённых заказов</div>
          <div>0</div>
        </div>
        <div class="divide-row">
          <div>Зарегистрирован</div>
          <div>1</div>
        </div>
      </div>
      <div class="profile-statistic">
        <div class="title">Контакты заказчика</div>
        <div>{{user?.contacts}}</div>
      </div>
    </aside>
</main>
