@import "../.././../../../styles.scss";

$header_background_color:white;
$main_background_color:rgb(240, 238, 238);
$registration_header_color: rgb(53, 53, 53);

main {
    @include flex-column;
    background-color: $main_background_color;
    height: auto;
    width: 100%;
    min-height: 100%;
}

.loading {
    @include flex-column;
    background-color: $main_background_color;
    height: 20vh;
    display: none;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 0 12px;
  color: #30cc7e;
}
.mat-button-toggle {
  color: white;
  background-color: #2f2f2f;
}
.toggle-container {
  margin-top: 14px;
}
.mat-button-toggle-checked {
  background-color: green;
}
#info-con {
  background-size: cover;
  background-position-y: 100%;
  background-image: url("../../../../../assets/background.svg");
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 500px;
  #info-text-con {
    display: flex;
    flex-direction: column;
    height: 100%;
    #head-text {
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      font-size: 25pt;
      color: rgb(71, 255, 0);
      width: 50%;
      height: 50%;
      line-height: 120%;
    }
    #low-text {
      padding-top: 20px;
      font-size: 13pt;
      width: 50%;
      font-weight: bold;
      color: white;
    }
  }
}

.certificates-container {
    @include flex-row;
    box-sizing: border-box;
    padding-top: 3vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 28px;
    flex-wrap: wrap;
    min-height: 70vh;
    height: auto;
}

.empty-result {
    @include flex-column;
    span {
        font-weight: bold;
        color: rgb(77, 77, 77);
        font-size: 18px;
    }
    img {
        margin-top: 10vh;
        width: 10vw;
    }
}
