<main #scrollframe>
    <div id="info-con">
      <span id="info-text-con">
        <span id="head-text">Отдайте задачи фрилансерам и освободите время для важного</span>
        <span id="low-text">Разработчики, дизайнеры и другие профессионалы ИТ-рынка готовы выполнить вашу задачу сейчас.</span>
      </span>
      <div><img src="../../../../../assets/itpng.png" height="320"/></div>
    </div>
  <div class="toggle-container">
      <mat-button-toggle-group  class="toggle-container" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle class="toggle" (click)="changeRequestDisplay(buttonPending)" value="bold">Все заказы</mat-button-toggle>
        <mat-button-toggle class="toggle" (click)="changeRequestDisplay(buttonProgress)" value="italic">Мои активные заказы</mat-button-toggle>
        <mat-button-toggle class="toggle" (click)="changeRequestDisplay(buttonComplete)" value="underline">Мои завершённые заказы</mat-button-toggle>
      </mat-button-toggle-group>
  </div>
    <div class="certificates-container">
        <certificate-card *ngFor="let certificate of certificates" [certificateData]="certificate" [buttonValue]="buttonValue"></certificate-card>
        <div class="empty-result" *ngIf="certificates" [style.display] = "certificates == 0 ? 'inherit' : 'none'">
            <span>По вашему запросу ничего не найдено</span>
            <img src="../../../../../assets/pngguru.com.png">
        </div>
    </div>
    <div class="loading" [style.display] = "isLoading ? 'inherit' : 'none'">
        <img src="../../../../../assets/25(1).gif" alt="">
    </div>
</main>
