@import "../../../../../styles.scss";

$header_background_color: white;
$main_background_color: rgb(240, 238, 238);
$registration_header_color: rgb(53, 53, 53);

::ng-deep .snackbar-success {
    color: white;
    background: green;
    border: 2px solid green;
}

.certificate {
    @include flex-column;
    justify-content: flex-start;
    margin-top: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
    width: 15vw;
    height: 45vh;
    border-radius: 2%;
    background-color: white;
    opacity: 1;
    &:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 3px 29px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 3px 29px 2px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 3px 29px 2px rgba(0, 0, 0, 0.75);
    }
    .certificate-image {
        background-color: #333435;
        height: 60%;
        width: 100%;
        img {
            height: 100%;
            transition: transform 0.5s ease;

            &:hover {
                transform: scale(2);
            }
        }
        cursor: pointer;
        overflow: hidden;
    }

    .status {
        @include flex-row;
        position: absolute;
        justify-self: flex-start;
        background-color: rgba(0, 0, 0, 0.5);
        width: 15vw;
        z-index: 100;
        color: white;
        font-weight: bold;
    }
    .certificate-info {
        @include flex-column;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 1vw;
        width: 100%;
        height: 40%;
        color: black;
        .first-row {
            width: 100%;
            @include flex-row;
            justify-content: space-between;
            font-size: 18px;
            align-items: flex-start;
            font-weight: bold;
            height: 7vh;
            overflow: hidden;
            text-overflow: ellipsis;
            i {
                font-size: 19px;
                cursor: pointer;
                &:hover {
                    color: rgb(255, 0, 85);
                }
            }
        }
        .second-row {
            height: 8vh;
            margin-top: 1vh;
            width: 100%;
            @include flex-row;
            justify-content: space-between;
            align-items: flex-start;
            font-size: 9px;
            font-weight: bold;
            .description {
                display: inline-block;
                white-space: nowrap;
                overflow: hidden !important;
                height: 4vh;
                width: 10vw;
                text-overflow: ellipsis;
            }
            .duration {
                @include flex-row;
                align-content: flex-end;
                color: rgb(117, 115, 115);
                text-align: right;
            }
        }
        .line {
            // margin-top: 1vh;
            margin-bottom: 1vh;
            background-color: rgb(153, 151, 151);
            height: 1px;
            width: 15vw;
        }
        .third-row {
            @include flex-row;
            justify-content: space-between;
            align-items: center;
            font-size: 19px;
            width: 100%;
            .price {
                font-weight: bold;
            }
            input {
                &.edit-button {
                    border: 1px solid red;
                    color: red;
                }
                font-size: 13px;
                background-color: white;
                border: 1px solid rgb(155, 152, 152);
                cursor: pointer;
                &:hover {
                    border: 1px solid rgb(0, 68, 255);
                    color: rgb(0, 68, 255);
                }
            }
        }
    }
}
