<div class="certificate" [style.opacity]="opacity" (click)="certificateClick()">
    <span
     *ngIf="role == 'ROLE_ADMIN'"
      class="status">{{certificateData.status}}
    </span>
    <div class="certificate-image">
        <img src="../../../../../assets/draw.jpg" alt="">
    </div>
    <div class="certificate-info">
        <div class="first-row">
            <span>{{certificateData.name}}</span>
        </div>
        <div class="second-row">
            <span class="description">
                {{certificateData.description}}
            </span>
            <span class="duration">
                Expires in {{certificateData.duration}} days
            </span>
        </div>
        <div class="line"></div>
        <div class="third-row">
            <span class="price">{{certificateData.price}}$</span>
            <input *ngIf="role != 'ROLE_ADMIN'" type="button" value="Add to card" (click)="addToCard($event)">
            <input class="edit-button" *ngIf="role == 'ROLE_ADMIN'" type="button" value="Edit"
                (click)="onEdit(certificateData)">
        </div>
    </div>
</div>