@import "../../../../../styles.scss";

$main_background_color:rgb(240, 238, 238);

main {
    @include flex-column;
    background-color: $main_background_color;
    height: auto;
    padding: 40px;
    width: 100%;
}
