@import "../../../../../styles.scss";

form {
    @include flex-column;
    width: 70vw;
    min-height: 60vh;
    height: auto;
    $header-height: 8vh;
    .container-header {
        @include flex-column;
        align-items: flex-start;
        padding-left: 5%;
        width: 95%;
        height: $header-height;
        background-color: rgb(53, 53, 53);
        color: white;
        font-weight: bold;
    }
    .input-container {
        @include flex-column;
        background-color: white;
        justify-content: flex-start;
        width: 70vw;
        min-height: 52vh;
        .first-row {
            @include flex-row;
            padding-top: 5vh;
            align-items: flex-start;
            width: 70vw;
            min-height: 35vh;
            .input-col {
                @include flex-column;
                width:50%;
                height: 100%;
            }
        }
    }
    mat-form-field {
        width: 70%;
    }

    ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex{
        background-color: white;
    }

    .mat-input-element {
        color: rgb(53, 53, 53);
    }
    ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
        background-color: green !important;
    }
    ::ng-deep .mat-form-field-invalid .ng-invalid {
        color: red !important;
    }
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
        color: green !important;
    }
    input[type="button"] {
        margin-top: 5%;
        cursor: pointer;
        margin-bottom: 5vh;
        width: 70%;
        height: 6vh;
        font-weight: bold;
        background-color: rgb(48, 204, 126);
        color: white;
        &:hover {
            background-color: white;
            border: 1px solid rgb(48, 204, 126);
            color: rgb(48, 204, 126);
        }
        &:disabled {
            cursor: auto;
            background-color: white;
            border: 1px solid red;
            color: red;
        }
    }
}
