<form [formGroup]="certificateForm">
    <div class="container-header">
        <span *ngIf="!certificateForEdit">Create New Certificate</span>
        <span *ngIf="certificateForEdit">Edit Certificate</span>
        <span *ngIf="certificateForEditStatus == 'INACTIVE'" class="inactive">*Cannot edit inactive certificate</span>
        <span *ngIf="certificateForEditStatus == 'ACTIVE'" class="active">*Active certificate can only be set to inactive</span>
    </div>
    <div class="input-container">
        <div class="first-row">
            <div class="input-col">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input autocomplete="off" matInput formControlName="certificateName">
                    <mat-error *ngIf="_certificateName.invalid">Certificate name length must be from 5 to 50 symbols</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Desctiption</mat-label>
                    <input autocomplete="off" matInput formControlName="certificateDescription">
                    <mat-error *ngIf="_certificateDescription.invalid">Description length must be from 5 to 150 symbols</mat-error>
                </mat-form-field>
                <mat-form-field class="tag-list" [class.disabled]= "certificateForEditStatus == 'INACTIVE' || certificateForEditStatus == 'ACTIVE'">
                    <mat-chip-list #chipList aria-label="Tag selection">
                        <mat-chip *ngFor="let tag of tags" selectable="true" removable="true" (removed)="remove(tag)">
                            {{tag.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Choose tags" #tagInput formControlName="tagsControl"
                            [matAutocomplete]="auto" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let tag of loadedTags" [value]="tag.name" (click)="selected(tag)">
                            {{tag.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="input-col">
                <mat-form-field appearance="fill">
                    <mat-label>Duration</mat-label>
                    <input autocomplete="off" type="number" matInput formControlName="duration">
                    <mat-error *ngIf="_duration.invalid">Duration must be from 1 to 100</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Price</mat-label>
                    <input autocomplete="off" type="number" matInput formControlName="price">
                    <mat-error *ngIf="_price.invalid">Price must be from 1 to 2000</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Certificate status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngIf="!certificateForEditStatus || certificateForEditStatus == 'PUBLISHED'" value="PUBLISHED">
                            Published
                        </mat-option>
                        <mat-option *ngIf="!certificateForEditStatus || certificateForEditStatus == 'PUBLISHED'" value="ACTIVE">
                            Active
                        </mat-option>
                        <mat-option *ngIf="certificateForEditStatus" value="INACTIVE">
                            Inactive
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="_status.invalid">Status is required field</mat-error>
                </mat-form-field>
                <input *ngIf="!certificateForEdit" (click)="onSubmit()" type="button" value="Create" [disabled]="certificateForm.invalid">
                <input *ngIf="certificateForEdit" (click)="onEdit()" type="button" value="Save" [disabled]="certificateForm.invalid || certificateForEditStatus == 'INACTIVE'">
            </div>
        </div>
    </div>
</form>