<main>
    <div class="container-header">
        <span>Checkout</span>
    </div>
    <div class="card-container" [style.display]="card.length == 0 ? 'none' : 'flex'">
        <certificate-in-card (removeCertificate)="remove($event)" (addCertificate)="add($event)"  *ngFor="let certificate of card" [certificate]="certificate"></certificate-in-card>
        <div class="horizontal-line"></div>
        <div class="total-info">
            <span class=total-word>Total</span>
            <span class="total-cost">${{totalPrice}}</span>
        </div>
        <input type="button" (click)="checkout()" value="Checkout">  
    </div>
    <div class="empty-result" *ngIf="card.length == 0" [style.display] = "card.length == 0 ? 'flex' : 'none'">
        <span>Your shopping card is empty</span>
        <img src="../../../../../assets/pngguru.com.png">
    </div>
</main>