@import "../../../../styles.scss";

$header_background_color:white;
$main_background_color:rgb(240, 238, 238);
$registration_header_color: rgb(53, 53, 53);

.form-container {
    width: 40vw;
    height: 100vh;
    background-color: white;
    margin-right: 14px;
    box-shadow: 0px 3px 5px 0 rgb(174 174 174 / 50%);
    box-sizing: border-box;
    $header-height: 18%;

    form {
      @include flex-column;
        margin-top: 14px;
        height: 98% - $header-height;
        width: 70%;
        $input_width:26vw;
        .input {
            border: #30cc7e;
        }
        mat-form-field {
            width: 25vw;
        }
        .input-column {
            width: 50%;
            height: 100%;
        }

        ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
          background-color: #e0e6e7;
        }
        ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex textarea {
          background-color: #e0e6e7;
          width: 100%;
        }
        .mat-input-element {
            color: rgb(53, 53, 53);
        }
        ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
            background-color: green !important;
        }
        ::ng-deep .mat-form-field-invalid .ng-invalid {
            color: red !important;
        }
        ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
            color: green !important;
        }
        .button-container {
            @include flex-row;
            justify-content: flex-start;
            height: 30%;
            textarea {
              height: 300px;
              background-color: red;
            }
            input[type="button"] {
                cursor: pointer;
                width: ($input_width - 2vw);
                height: 4vh;
                width: 100%;
                margin-right: 1vw;
                margin-bottom: 14px;
                font-weight: bold;
                border: #30cc7e 2px;
                &.signup-button {
                    margin-right: 3vw;
                    background-color: green;
                    color: white;
                    &.disabled {
                        position : relative;
                        color    : red;
                        background-color: white;
                        border: 1px solid red;
                    }
                    &.disabled:after {
                        position :absolute;
                        left     : 0;
                        top      : 0;
                        width    : 100%;
                        height   : 100%;
                        content  :' ';
                    }
                    &:hover {
                        background-color: white;
                        border: 1px solid rgb(48, 204, 126);
                        color:rgb(48, 204, 126);
                    }
                    &:hover.disabled {
                        position : relative;
                        color    : red;
                        background-color: white;
                        border: 1px solid red;
                        cursor: auto;
                    }
                }
                &.cancel-button {
                    border: 1px solid $registration_header_color;
                    background-color: white;
                    &:hover {
                        background-color: $registration_header_color;
                        color: white;
                    }
                }
            }
        }
    }
  .container-header {
    @include flex-column;
    align-items: flex-start;
    padding-left: 5%;
    width: 95%;
    height: $header-height;
    background-image: url("../../../../assets/profileHeader.svg");
    color: white;
    font-weight: bold;
    margin-bottom: 14px;
  }
}

