<div class="form-container">
    <div class="container-header">
        <span>Регистрация</span>
    </div>
    <form [formGroup]="registerForm">
        <div class="text-input-container">
                <mat-form-field appearance="outline">
                    <mat-label>Логин</mat-label>
                    <input autocomplete="off" matInput formControlName="login">
                    <mat-error *ngIf="_login.invalid && (_login.errors.minlength || _login.errors.maxlength)">Login
                        length must be from 5 to
                        15 symbols</mat-error>
                    <mat-error *ngIf="_login.invalid && _login.errors.required">Login is required filed
                    </mat-error>
                    <mat-error *ngIf="_login.invalid && _login.errors.pattern">Forbidden characters
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Пароль</mat-label>
                    <input class="input" type="password" autocomplete="off" matInput formControlName="password">
                    <mat-error *ngIf="_password.invalid && (_password.errors.minlength || _password.errors.maxlength)">
                        Password length must be from 5 to
                        15 symbols</mat-error>
                    <mat-error *ngIf="_password.invalid && _password.errors.required">Password is required filed
                    </mat-error>
                    <mat-error *ngIf="_password.invalid && _password.errors.pattern">Forbidden characters
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Повторить пароль</mat-label>
                    <input type="password" autocomplete="off" matInput formControlName="repeatPassword">
                    <mat-error *ngIf="_repeatPassword.invalid && _repeatPassword.errors.required">Required filed
                    </mat-error>
                    <mat-error *ngIf="_repeatPassword.invalid && _repeatPassword.errors.matching">Please, repeat password correctly
                    </mat-error>
                </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Имя</mat-label>
                <input autocomplete="off" matInput formControlName="firstName">
                <mat-error *ngIf="_firstName.invalid && (_firstName.errors.minlength || _firstName.errors.maxlength)">First name length must be from 2 to 25 symbols
                </mat-error>
                <mat-error *ngIf="_firstName.invalid && _firstName.errors.pattern">Forbidden characters
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Фамилия</mat-label>
                <input autocomplete="off" matInput formControlName="lastName">
                <mat-error *ngIf="_lastName.invalid && (_lastName.errors.minlength || _lastName.errors.maxlength)">Last name length must be from 2 to 25 symbols
                </mat-error>
                <mat-error *ngIf="_lastName.invalid && _lastName.errors.pattern">Forbidden characters
                </mat-error>
              </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Контактная информация</mat-label>
                  <input autocomplete="off" matInput formControlName="contacts">
                  <mat-error *ngIf="_contacts.invalid && (_contacts.errors.minlength || _contacts.errors.maxlength)">Contacts length must be from 2 to 25 symbols
                  </mat-error>
                  <mat-error *ngIf="_contacts.invalid && _contacts.errors.pattern">Forbidden characters
                  </mat-error>
                </mat-form-field>
              <mat-form-field class="tag-list" appearance="outline">
                <mat-label>Сфера деятельности</mat-label>
                <mat-chip-list #chipList aria-label="Tag selection">

                  <mat-chip *ngFor="let tag of tags" selectable="true" removable="true" (removed)="remove(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input #tagInput formControlName="tagsControl"
                         [matAutocomplete]="auto" [matChipInputFor]="chipList">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let tag of loadedTags" [value]="tag.name" (click)="selected(tag)">
                    {{tag.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Сфера деятельности</mat-label>
                  <textarea autocomplete="off" matInput formControlName="sphere"></textarea>
                  <mat-error *ngIf="_sphere.invalid && (_sphere.errors.minlength || _sphere.errors.maxlength)">sphere length must be from 2 to 25 symbols
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Вознаграждение за час</mat-label>
                  <input type="number" autocomplete="off" matInput formControlName="reward">
                  <mat-error *ngIf="_reward.invalid && (_reward.errors.minlength || _reward.errors.maxlength)">sphere length must be from 2 to 25 symbols
                  </mat-error>
                </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>О себе</mat-label>
                <textarea autocomplete="off" matInput formControlName="aboutMySelf"></textarea>
                <mat-error *ngIf="_sphere.invalid && (_sphere.errors.minlength || _sphere.errors.maxlength)">sphere length must be from 2 to 25 symbols
                </mat-error>
              </mat-form-field>
        </div>
        <div class="button-container">
            <input (click)="onSubmit()" [disabled]="registerForm.invalid" [class.disabled]="registerForm.invalid" type="button" class="signup-button" value="Создать аккаунт">
        </div>
    </form>
</div>
