@import "../../../../styles.scss";

$header_background_color:white;
$main_background_color:rgb(240, 238, 238);
$registration_header_color: rgb(53, 53, 53);

.form-container {
    @include flex-column;
    justify-content: flex-start;
    width: 60vw;
    height: 65vh;
    background-color: white;
    $header-height: 18%;
    .container-header {
        @include flex-column;
        align-items: flex-start;
        padding-left: 5%;
        width: 95%;
        height: $header-height;
        background-color: $registration_header_color;
        color: white;
        font-weight: bold;
    }
    form {
        height: 98% - $header-height;
        padding-top: 2%;
        width: 100%;
        $input_width:26vw;
        .text-input-container {
            @include flex-row;
            width: 100%;
            height: 70%;
            .input-column {
                @include flex-column;
                width: 46%;
                height: 100%;
                justify-content: flex-start;
                label {
                    margin-bottom: 5px;
                    font-size: 11px;
                    color: $registration_header_color;
                    font-weight: bold;
                }
                .input-with-label {
                    @include flex-column;
                    align-items: flex-start;
                    input {
                        @include input-style;
                        width: $input_width - 1vw;
                        text-align: left;
                        padding-left: 1vw;
                    }
                }
            }
        }
        .button-container {
            @include flex-row;
            justify-content: flex-end;
            height: 30%;
            input[type="button"] {
                cursor: pointer;
                width: ($input_width - 1vw) / 2;
                height: 6vh;
                margin-right: 1vw;
                font-weight: bold;
                &.signup-button {
                    margin-right: 3vw;
                    background-color: rgb(48, 204, 126);
                    color: white;
                    &:hover {
                        background-color: white;
                        border: 1px solid rgb(48, 204, 126);
                        color:rgb(48, 204, 126);
                    }
                }
                &.cancel-button {
                    border: 1px solid $registration_header_color;
                    background-color: white;
                    &:hover {
                        background-color: $registration_header_color; 
                        color: white;
                    }
                }
            }
        }
    }
}