<main>
    <aside class="second-column">
      <div class = "profile-block">
        <a href="#" class="avatar-block">
          <img src="../../../../../assets/avatar.png" alt="">
        </a>
        <div class="full-name">
        </div>
        <div class="role-container">
          <div class="role">
            Заказчик
          </div>
        </div>
      </div>
      <div class="profile-statistic">
        <div class="title">Статистика заказчика</div>
        <div class="row">
          <div>Всего заказов</div>
          <div>1</div>
        </div>
        <div class="row">
          <div>Завершённых заказов</div>
          <div>0</div>
        </div>
        <div class="divide-row">
          <div>Зарегистрирован</div>
          <div>1</div>
        </div>
      </div>
      <div class="profile-statistic">
        <div class="title">Контакты заказчика</div>
      </div>
    </aside>
</main>
